.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Font{
  font-family: 'Roboto', sans-serif;
}
a{
  font-weight: bold;
  font-size: 20px;
}
a:link, a:visited {
  background-color: #f4f5f7; 
  color: #172b4d;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
a:hover, a:active {
  background-color: #eff0f2;
}

table {
  text-align: left;
}
th, td {
  width: 300px; height: 50px;
}
td {
  background-color: #f4f5f7; border: 8px solid #FFFFFF;
  border-collapse: collapse; text-align: center;
}

.Input {
  background-color: #FFFFFF00;
  border:0px;
  outline:0px;
  width: 300px;
  height: 50px;
  font-size: 20px;
  text-align: left;
}
h1 {
  font-size: 32px;
}
p {
  font-size: 20px;
}
/* Community Corner Calendar Styling */
.react-calendar { 
  width: 2000px;
  max-width: 100%;
  max-height: 100%;
  background-color: none;
  color: #172b4d;
  border-radius: 0px;
 }

 .react-calendar__navigation button {
  color: #172b4d;
  min-width: 44px;
  background:none;
  font-size: 16px;
  margin-top: 8px;
 }

.react-calendar--doubleView {
  width: 2000px;
}
.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}
.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}
.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.react-calendar button {
  margin: 0;
  border: solid black;
  outline: none;
  background-color: #f4f5f7;
}
.react-calendar button:enabled:hover {
  cursor: pointer;
}
.react-calendar__navigation {
  display: flex;
  height: 44px;
  margin-bottom: 1em;
}
.react-calendar__navigation button {
  min-width: 44px;
  /* background: none; */
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #f4f5f7;
}
.react-calendar__navigation button[disabled] {
  background-color: #f4f5f7;
}
.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75em;
}
.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}
.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  font-weight: bold;
  padding: calc(0.75em / 0.75) calc(0.5em / 0.75);
}
.react-calendar__month-view__days__day--weekend {
  /* color: #d10000; */
  color: #172b4d;
}
.react-calendar__month-view__days__day--neighboringMonth {
  color: #172b4d;
}
.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}
.react-calendar__tile {
  max-width: 100%;
  height: 90px;
  max-height: 100%;
  text-align: left;
  align-items: top;
  padding: 0.75em 0.5em;
  background: none;
  border: solid black;
}
.react-calendar__tile:disabled {
  background-color: #f4f5f7;
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #eff0f2;
}
.react-calendar__tile--now {
  /* background: #ffff76; */
  background-color: #6f48eb;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #ffffa9;
}
.react-calendar__tile--hasActive {
  background: #76baff;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}
.react-calendar__tile--active {
  background: #6f48eb;
  color: white;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #1087ff;
}
.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}

/* CSS related to login page */
#logo{
  height: 200px;
  width: 200px;
}

.shadow-box {
  position: relative;
  height:50vw;
  background-color: #F4F5F7;
  -webkit-mask:
    radial-gradient(var(--r1,100%) var(--r2,50%) at top   ,white 79.5%,transparent 80%) top left,
    radial-gradient(var(--r1,100%) var(--r2,50%) at bottom,transparent 79.5%,white 80%) top center,
    radial-gradient(var(--r1,100%) var(--r2,50%) at top   ,white 79.5%,transparent 80%) top right;
  mask:
    radial-gradient(var(--r1,100%) var(--r2,50%) at top   ,white 79.5%,transparent 80%) top left,
    radial-gradient(var(--r1,100%) var(--r2,50%) at bottom,transparent 79.5%,white 80%) top center,
}


body{
  height: 100vw;
}

.login-container{

  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -300px;
}
.login-class{
  display: flex; justify-content: space-around;

}

.login-credentials{
  margin-top: 20%;
  margin-left: 30%;
}

.login-card{
  height: 35vw;
  width: 50vw;
  background-color: rgba(255, 255, 255, 0.4);
  margin-top: 200px;
  position: absolute;
  box-shadow:
  inset 0 -3em 3em rgba(0,0,0,0.1),
              0.3em 0.3em 1em rgba(0,0,0,0.3); 
  border-radius: 2%;
}

.credential-box{
  height: 30px;
  width: 250px;
  background-color: rgb(209, 209, 209);
  display: flex;
  justify-content: center;
  align-items: center;
}

.column {
  float: left;
  width: 33.33%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/*At a screen width of 800px the columns begin to stack vertically for mobile users*/
@media screen and (max-width: 800px) {
  .column {
    width: 100%;
  }
}

#default-profile-pic {
  height: 200px;
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.bio-input {
height: 150px;
width: 300px;
}

button {
height: 30px;
width: 250px;
margin-top:30px;
display: flex;
justify-content:center;
align-items: center;
}

.preference-container {

display: flex;
justify-content: center;
align-items: center;
margin-top: 175px;
}

.preference-card{
height: 40vw;
width: 80vw;
background-color: rgba(255, 255, 255, 0.4);
margin-top: 200px;
position: absolute;
box-shadow:
inset 0 -3em 3em rgba(0,0,0,0.1),
            0.3em 0.3em 1em rgba(0,0,0,0.3); 
border-radius: 2%;
}