/* Font used across the site*/
.Font{
  font-family: 'Roboto', sans-serif;
}

/* CSS for links*/
a{
  font-weight: bold;
  font-size: 20px;
}
a:link, a:visited {
  background-color: #f4f5f7; 
  color: #172b4d;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
a:hover, a:active {
  background-color: #eff0f2;
}
/* Buttons should look the same as <Link>'s*/
button {
  background-color: #f4f5f7;
  border: none;
  color: #172b4d;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 20px;
}
button:hover, button:active {
  background-color: #eff0f2;
}

/* Table CSS, used for add new resident and staff*/
table {
  text-align: left;
}
th, td {
  width: 300px; height: 50px;
}
td {
  background-color: #f4f5f7; border: 8px solid #FFFFFF;
  border-collapse: collapse; text-align: center;
}
/* how input fields should look*/
.Input {
  background-color: #FFFFFF00;
  border:0px;
  outline:0px;
  width: 500px;
  height: 50px;
  font-size: 20px;
  text-align: left;
}
h1 {
  font-size: 32px;
}
p {
  font-size: 20px;
}

/* CSS related to login page */
#logo{
  height: 200px;
  width: 200px;
}

.shadow-box {
  position: relative;
  height:35vw;
  background-color: #F4F5F7;
  -webkit-mask:
    radial-gradient(var(--r1,100%) var(--r2,50%) at top   ,white 79.5%,transparent 80%) top left,
    radial-gradient(var(--r1,100%) var(--r2,50%) at bottom,transparent 79.5%,white 80%) top center,
    radial-gradient(var(--r1,100%) var(--r2,50%) at top   ,white 79.5%,transparent 80%) top right;
  mask:
    radial-gradient(var(--r1,100%) var(--r2,50%) at top   ,white 79.5%,transparent 80%) top left,
    radial-gradient(var(--r1,100%) var(--r2,50%) at bottom,transparent 79.5%,white 80%) top center,
}

body{
  height: 100vw;
}

.login-container{

  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -300px;
}

.login-class{
  display: flex; justify-content: space-around;

}

.login-credentials{
  margin-top: 20%;
  margin-left: 30%;
}

.login-card{
  height: 35vw;
  width: 50vw;
  background-color: rgba(255, 255, 255, 0.4);
  margin-top: 200px;
  position: absolute;
  box-shadow:
  inset 0 -3em 3em rgba(0,0,0,0.1),
              0.3em 0.3em 1em rgba(0,0,0,0.3); 
  border-radius: 2%;
}

.credential-box{
  height: 30px;
  width: 250px;
  background-color: rgb(209, 209, 209);
  display: flex;
  justify-content: center;
  align-items: center;
}

.split-column {
  float: left;
  width: 50%;
}

.left-column {
  float: left;
  width: 25%;
}

.right-column {
  float: left;
  width: 72%;
  margin-left: 20px
}

.gallery-card {
  background-color: lightsteelblue;
  border-radius: 5px;
  padding: 10px;
  margin-top: 20px;
  margin-left: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/*At a screen width of 800px the columns begin to stack vertically for mobile users*/
@media screen and (max-width: 800px) {
  .column {
    width: 100%;
    padding: 0;
  }
}

.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

#default-profile-pic {
  height: 200px;
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.biography-card {
height: 150px;
width: 300px;
background-color: white;
border-radius: 5px;
padding: 10px;
margin-top: 20px;
margin-left: 15px;

}

.preference-container {

display: flex;
justify-content: center;
align-items: center;
margin-top: 175px;
}

.preference-card{
height: 40vw;
width: 80vw;
background-color: rgba(255, 255, 255, 0.4);
margin-top: 200px;
position: absolute;
box-shadow:
inset 0 -3em 3em rgba(0,0,0,0.1),
            0.3em 0.3em 1em rgba(0,0,0,0.3); 
border-radius: 2%;
}

.centered-box{
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered-element {
  display: flex;
  justify-content: center;
  align-items: center;  
}

.centered-gallery {
  display: flex;
  justify-content: center;
  align-items: center; 
}

.dashboard-wrapper{
  margin-left: 10vw;
  margin-right: 10vw;
}

.dashboard-title {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: lightsteelblue;
}

footer{
  font-family: 'Roboto', sans-serif;
  background-color: whitesmoke;
  color: #172b4d;
  margin-top: 5vw;
  height: 7vh;
  font-weight: bold;
  font-size: 20px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.dashboard-button {
  font-family: 'Roboto', sans-serif;
  background-color: whitesmoke;
  border: none;
  color: black;
  height: 5vh;
  text-align: center;
  display: inline-block;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;  
}

.button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-img {
  display: flex;
}

.image-wrapper {
  text-align: center;
  justify-content: center;
  float: left;
  padding: 40px;
}

.gallery-profile-picture {
  height: 50px;
  width: 50px;
}

.add-more-button {
  height: 25px;
  width: 25px;
}

.gallery-column {
  width: 20%;
  height: 17vw;
  float: left;
}

.dashboard-favourite-column {
  width: 100%;
}

.view-resident-picture {
  height: 100px;
  width: 100px;
}

.preference-image {
  height: 50px;
  width: 50px;
}

.dashboard-img-wrapper {
  text-align: center;
  justify-content: center;
  float: left;
  width: 75px;
  word-wrap: break-word;
  padding: 5px;
}

h4 {
  display: inline;
}

.dashboard-textarea {
  background-color: #f4f5f7;
  border: none;
  font-family: 'Roboto', sans-serif;
  resize: vertical;
  font-size: 15px;
  color: #172b4d;
  width: 500px;
  height: 100px;
  max-height: 250px;
  min-width: 100px;
  max-width: 300px;
}