.App {
    text-align: center;
  }
  .CommunityCorner{
    font-family: 'Roboto', sans-serif;
    color: #172b4d
  }
  /* Add Event CSS*/
  input.AddEvent {
    background-color: #f4f5f7;
    border:0px;
    outline:0px;
    width: 500px;
    height: 40px;
    font-size: 15px;
    text-align: left;
  }
  
  button.CommunityCorner {
    background-color: #f4f5f7;
    border: none;
    color: #172b4d;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin: 10px;
  }
  button:hover, button:active {
    background-color: #eff0f2;
  }
  .Input {
    background-color: #FFFFFF00;
    border:0px;
    outline:0px;
    width: 500px;
    height: 50px;
    font-size: 20px;
    text-align: left;
  }
  textarea {
    background-color: #f4f5f7;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #172b4d;
    width: 500px;
    height: 100px;
    min-width: 500px;
    max-width: 500px;
  }
  .popup-content {
    margin: auto;
    background: #ffffff;
    width: 100%;
    padding: 15px 25px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #172b4d;
    float: center;
    border:none;
  }
  
  .popup-arrow {
    color: #f4f5f7;
  }
  
  [role='tooltip'].popup-content {
    width: 540px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
  }
  
  .popup-overlay {
    background: rgba(0, 0, 0, 0.5);
  }
  
  [data-popup='tooltip'].popup-overlay {
    background: transparent;
  }
  
  .rbc-toolbar-label{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 20px;
  }